{% extends 'base.html.twig' %}

{% block title %}Lesson2 index{% endblock %}

{% block body %}
    <h1>Lesson2 index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson2 in lesson2s %}
            <tr>

                <td>{{ lesson2 }}</td>
                <td>{{ lesson2.id }}</td>
                <td>{{ lesson_pose }}</td>
                <td>
                    <a href="{{ path('app_lesson2_show', {'id': lesson2.id}) }}">show</a>
                    <a href="{{ path('app_lesson2_edit', {'id': lesson2.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_lesson2_new') }}">Create new</a>
{% endblock %}
