{% extends 'base.html.twig' %}

{% block title %}LessonNote index{% endblock %}

{% block body %}
    {% if lesson_name is defined %}
    <h1>{{ lesson_name }}</h1>
    {% endif %}

        {% for lesson_note in lesson_notes %}
                <p>{{ lesson_note.id }}</p>
                <p>{{ lesson_note.myLesson }}</p>
                <p>{{ lesson_note.myLessonPart }}</p>
                <p>{{ lesson_note.myLessonMemo }}</p>
                <div>
                    <a href="{{ path('app_lesson_note_show', {'id': lesson_note.id}) }}">show</a>
                    <a href="{{ path('app_lesson_note_edit', {'id': lesson_note.id}) }}">edit</a>
                </div>
        {% endfor %}
    {% for lesson_note in lesson_notes2 %}
                     <a href="{{ path('app_lesson_note_sort', {'my_lesson': lesson_note}) }}">{{ lesson_note }}</a>
    {% endfor %}
    <a href="{{ path('app_lesson_note_new') }}">Create new</a>
{% endblock %}
