{% extends 'base.html.twig' %}

{% block title %}LessonNote{% endblock %}

{% block body %}
    <h1>LessonNote</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lesson_note.id }}</td>
            </tr>
            <tr>
                <th>My_lesson</th>
                <td>{{ lesson_note.myLesson }}</td>
            </tr>
            <tr>
                <th>My_lesson_part</th>
                <td>{{ lesson_note.myLessonPart }}</td>
            </tr>
            <tr>
                <th>My_lesson_memo</th>
                <td>{{ lesson_note.myLessonMemo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_lesson_note_index') }}">back to list</a>

    <a href="{{ path('app_lesson_note_edit', {'id': lesson_note.id}) }}">edit</a>

    {{ include('lesson_note/_delete_form.html.twig') }}
{% endblock %}
